<form [formGroup]="filterForm" class="filter-form airbnb-card">
  <h3 class="filter-title">Filter Apartments</h3>
  <div class="filter-section">
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" placeholder="Enter location" />
    </mat-form-field>
    <div class="price-slider">
      <label for="price" class="section-label"
        >Max Price:
        <span class="price-value"
          >₹{{ filterForm.get("price")?.value || 0 }}</span
        ></label
      >
      <input
        formControlName="price"
        type="range"
        id="price"
        min="0"
        max="5000"
      />
    </div>
  </div>
  <div class="filter-section">
    <label class="section-label">Food Preference:</label>
    <section class="veg-group">
      <mat-checkbox formControlName="vegetarian">Vegetarian</mat-checkbox>
      <mat-checkbox formControlName="nonVegetarian"
        >Non Vegetarian</mat-checkbox
      >
    </section>
  </div>
  <div class="filter-section amenities">
    <label class="section-label">Amenities:</label>
    <div formGroupName="amenities">
      <div class="amenities-list">
        <ng-container *ngFor="let key of amenitiesKeys">
          <mat-checkbox [formControlName]="key">{{ key }}</mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="button-row">
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="apply-btn"
      (click)="applyFilters()"
    >
      Apply
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="reset-btn"
      (click)="resetFilters()"
    >
      Reset
    </button>
  </div>
</form>
